active = true

# IRB 6640
link_lib = IRB6640
kinematics_h = k, j, j, i, j, i
kinematics_p = 0, 0.32 * i + 0.78 * k, 1.075 * k, 1.1425 * i + 0.2 * k, 0, 0, 0.2 * i

# Spherical Bot
# link_lib = SphericalBot
# kinematics_h = j, k, j, i, j, i
# kinematics_p = 0, k+i, k+i, k+i, 0, 0, i

# UR5
# link_lib = UR5
# kinematics_h = k, j, j, j, -1.0 * k, j
# kinematics_p = 0.089159*k, 0.1358*j, -0.1197*j + 0.425*i, 0.3922*i, 0.093 * j + -0.0946 * k, 0, 0.0823*j